<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>API Validator</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse totam
          quod exercitationem, mollitia vel nam illo. Magnam hic quo atque eum
          itaque praesentium possimus provident, nostrum quod beatae accusamus
          ex.
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form
            action="http://localhost:5000/validator"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="input-group">
              <input
                type="file"
                class="form-control"                
                name="file"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
              />
              <input
                class="btn btn-outline-info"
                type="submit"
                id="btnSubmit"
                value="Validar"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
